@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root{
    
    --White: hsl(0, 0%, 100%);
    --Light-Grayish-Violet-app-background: hsl(270, 20%, 96%);
    --Very-Dark-Desaturated-Violet-submit-button-background: hsl(271, 36%, 24%);
    --Very-Light-Magenta-radio-button-outline: hsl(289, 100%, 72%);

    --Light-Magenta: hsl(293, 100%, 63%);
    --Light-Violet: hsl(264, 100%, 61%);

    --Pale-Violet-sub-heading-at-the-top-of-the-app-UI: hsl(276, 100%, 81%);
    --Moderate-Violet-chat-on-the-left: hsl(276, 55%, 52%);
    --Desaturated-Dark-Violet-chat-on-the-right: hsl(271, 15%, 43%);
    --Grayish-Blue-placeholder-text: hsl(206, 6%, 79%);
    --Very-Dark-Desaturated-Violet-main-heading: hsl(271, 36%, 24%);
    --Dark-Grayish-Violet-paragraph: hsl(270, 7%, 64%);

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
}
.hero{
    position: relative;
    display: flex;
}

.hero__section{
    display: flex;
    align-items: center;
}
.gadget__left{
    background-image: linear-gradient(var(--Light-Magenta),var(--Light-Violet));
    width: 450px;
    height: 80vh;
    border-radius: 0 0 500px 500px;
    position: relative;
    right: 40px;
    z-index: -1;
}

.gadget__right{
    background-image: linear-gradient(var(--Light-Magenta),var(--Light-Violet));
    width: 450px;
    height: 70vh;
    border-radius:  500px 500px 0 0;
    position: absolute;
    right: 20px;
    top: 300px;
    bottom: 0;
    opacity: .1;
    z-index: -999;
}

.phone__container{
    width: 360px;
    border: 11px solid white;
    border-radius: 35px;
    position: relative;
    right: 96px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.phone__container p{
    font-size: 15px;
}

.speaker{
    width: 180px;
    height: 2rem;
    background-color: var(--White);
    border-radius: 15px;
    position: absolute;
    top: -12px;
    left: 80px;
}

.profile{
    display: flex;
    align-items: center;
    background-image: linear-gradient(90deg,var(--Light-Violet),var(--Light-Magenta));
    padding: 2rem 2rem 1rem 2rem;
    border-radius: 26px 26px 2px 2px;
}
.profile img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid var(--White);
}

.profile i{
    color: var(--White);
}

.profile__heading{
    margin-left: 1rem;
    width: 160px;
}
.profile__heading h2 {
    color: var(--White);
    font-size: 1rem;
    font-weight: 400;
    display: block;
}

.profile__heading > p{
    color: rgba(241, 241, 241,.7);
    font-size: .7rem;
}

.left__three__dot{
    margin-left: 4rem;
}

.angel__left{
    margin-right: .5rem;
}

.message__container{
    background-color: var(--Light-Grayish-Violet-app-background);
    border-radius: 0 0 35px 35px;
}

.left__texts{
    background-color: hsl(294, 100%, 94%);
    border-radius: 20px 20px 20px 8px;
    color: var(--Moderate-Violet-chat-on-the-left);
    width: 250px;
    padding: .5rem;
    position: relative;
    top: 1rem;
    left: 9px;
    margin-bottom: 1rem;
}

.right__img{
    text-align: right;
}

.right__img img{
    width: 60px;
    border-radius: 15px;
    margin: 1rem .5rem;
}


.right__texts{
    background-color: var(--White);
    color: var(--Dark-Grayish-Violet-paragraph);
    width: 208px;
    padding: .5rem ;
    text-align: center;
    margin-bottom: 12px;
    border-radius: 20px 20px 8px 20px;
    position: relative;
    left: 112px;

}

.left__price{
    background-image: linear-gradient(45deg,var(--Light-Violet),var(--Light-Magenta));
    width: 260px;
    margin: 1rem 0;
    color: white;
    border-radius: 20px 20px 20px 8px;
    padding: .8rem;
    position: relative;
    left: 1rem;
    top: 1rem;
    
}

.form-control{
    line-height: 1.1;
    display: grid;
    grid-template-columns: 1em auto;
    gap: 0.5em;
}
.left__price input{
    appearance: none;
    background-color: inherit;
    margin: 0;
    cursor: pointer;
    font: inherit;
    color: white;
    width: 1.5em;
    height: 1.5em;
    border: 0.18rem solid currentColor;
    border-radius: 50%;
    transform: translateY(0.3em);
    display: grid;
    place-content: center;
}

.left__price input::before{
    content: "";
    width: 1em;
    height: 1em;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--Light-Magenta);

}

.left__price input:checked::before{
    transform: scale(1);
}

label p{
    margin-left: 1rem;
}

.dollar{
    font-size: 1.5rem;
    margin-left: 1.5rem;
    font-weight: 500;
}

#new-message{
    width: 90%;
    border: none;
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 25px;
    position: relative;
    left: 1rem;
}
#new-message::placeholder{
    color: var(--Grayish-Blue-placeholder-text);
}
.right__angle{
    background-color: rgb(53, 40, 40);
    color: white;
    width: 35px;
    height: 35px;
    padding: .6rem;
    border: none;
    border-radius: 100%;
    position: absolute;
    bottom: 1.4rem;
    left: 17.5rem;
    cursor: pointer;
}
.hero__text{
    position: relative;
    left: 70px;
    z-index: 9999;
}
.hero__text h1{
    color: var(--Very-Dark-Desaturated-Violet-main-heading);
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.hero__text > p{
    color: var(--Dark-Grayish-Violet-paragraph);
}

/** media query **/

@media screen and (max-width: 375px) {
    .hero__section{
        display: block;
    }

    .phone__container {
        position: relative;
        width: 345px;
        right: 17px;
        top: 1rem;
    }
    .left__texts{
        left: 4px;
    }
    .hero__text{
        top: 50px;
        left: 0;
        margin: 2rem 0;
    }

    .gadget__right{
        display: none;
    }
    .right__angle{
        left: 16.5rem;
    }
}

